Options +FollowSymLinks
Options -Indexes
DirectoryIndex index.html
RewriteEngine On
RewriteCond $1 !^(index\.html|images|robots\.txt)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.html [L,QSA]
